In [10]:
import pandas as pd 
import numpy as np
from pandas_profiling import ProfileReport
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier

In [11]:
data = pd.read_csv('data.csv')

In [12]:
data.head()

,profile pic,nums/length username,fullname words,nums/length fullname,name==username,description length,external URL,private,#posts,#followers,#follows,fake
0,1,0.27,0,0.0,0,53,0,0,32,1000,955,0
1,1,0.00,2,0.0,0,44,0,0,286,2740,533,0
2,1,0.10,2,0.0,0,0,0,1,13,159,98,0
3,1,0.00,1,0.0,0,82,0,0,679,414,651,0
4,1,0.00,2,0.0,0,0,0,1,6,151,126,0

In [13]:
data.shape

(696, 12)

In [14]:
# profile = ProfileReport(data)
# profile.to_file(output_file='fake.html')

In [15]:
data['fake'].value_counts()

1    348
0    348
Name: fake, dtype: int64

In [16]:
data.isnull().sum()

profile pic             0
nums/length username    0
fullname words          0
nums/length fullname    0
name==username          0
description length      0
external URL            0
private                 0
#posts                  0
#followers              0
#follows                0
fake                    0
dtype: int64

In [17]:
x=data.iloc[:,:-1]
y=data.iloc[:,-1]

In [18]:
x

,profile pic,nums/length username,fullname words,nums/length fullname,name==username,description length,external URL,private,#posts,#followers,#follows
0,1,0.27,0,0.0,0,53,0,0,32,1000,955
1,1,0.00,2,0.0,0,44,0,0,286,2740,533
2,1,0.10,2,0.0,0,0,0,1,13,159,98
3,1,0.00,1,0.0,0,82,0,0,679,414,651
4,1,0.00,2,0.0,0,0,0,1,6,151,126
...,...,...,...,...,...,...,...,...,...,...,...
691,1,0.29,1,0.0,0,0,0,0,13,114,811
692,1,0.40,1,0.0,0,0,0,0,4,150,164
693,1,0.00,2,0.0,0,0,0,0,3,833,3572
694,0,0.17,1,0.0,0,0,0,0,1,219,1695
695,1,0.44,1,0.0,0,0,0,0,3,39,68

In [19]:
y

0      0
1      0
2      0
3      0
4      0
      ..
691    1
692    1
693    1
694    1
695    1
Name: fake, Length: 696, dtype: int64

In [20]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3,stratify=y,random_state=42)

In [21]:
x_train

,profile pic,nums/length username,fullname words,nums/length fullname,name==username,description length,external URL,private,#posts,#followers,#follows
116,1,0.00,1,0.00,0,0,0,0,114,490,1093
28,1,0.00,2,0.00,0,126,1,0,230,2284,130
137,1,0.00,2,0.00,0,0,1,1,1020,464,1039
557,1,0.43,1,0.43,0,0,0,0,0,72,434
26,1,0.00,6,0.00,0,0,0,1,17,536,665
...,...,...,...,...,...,...,...,...,...,...,...
277,1,0.30,2,0.00,0,26,0,1,241,1456,1200
513,0,0.14,1,0.00,0,0,0,0,0,49,2
127,1,0.00,1,0.00,0,0,0,1,571,765,424
352,0,0.00,1,0.00,0,0,0,0,0,51,41
465,0,0.58,1,0.00,0,0,0,0,0,49,22

In [22]:
y_train

116    0
28     0
137    0
557    1
26     0
      ..
277    0
513    1
127    0
352    1
465    1
Name: fake, Length: 487, dtype: int64

In [33]:
from sklearn.metrics import accuracy_score,classification_report
lr = LogisticRegression()
lr=lr.fit(x_train,y_train)
y_pred = lr.predict(x_test)
acc = accuracy_score(y_test,y_pred)
print('The accuracy obtained by the logistic regression is :')
print(acc)
report = classification_report(y_test,y_pred)
print('The classification report for logistic regression is as follow:')
print(report)

The accuracy obtained by the logistic regression is :
0.8995215311004785
The classification report for logistic regression is as follow:
              precision    recall  f1-score   support

           0       0.91      0.89      0.90       105
           1       0.89      0.91      0.90       104

    accuracy                           0.90       209
   macro avg       0.90      0.90      0.90       209
weighted avg       0.90      0.90      0.90       209

c:\Program Files\Python36\lib\site-packages\sklearn\linear_model\_logistic.py:765: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

In [35]:
abc = [[1,0.00,1,0.00,0,0,0,0,114,490,1093]]
result = lr.predict(abc)
print(result)
if result==[0]:
    print('The account is real')
else:
    print('The account is fake')

[0]
The account is real

In [36]:
abc = [[1,0.43,	1,	0.43,	0	,0,	0,	0	,0,	72,	434]]
result = lr.predict(abc)
print(result)
if result==[0]:
    print('The account is real')
else:
    print('The account is fake')

[1]
The account is fake

In [37]:
import pickle
filename = 'Logistic_Regression.sav'
pickle.dump(lr, open(filename, 'wb'))

In [39]:
from sklearn.metrics import accuracy_score,classification_report
dt = DecisionTreeClassifier()
dt=dt.fit(x_train,y_train)
y_pred = dt.predict(x_test)
acc = accuracy_score(y_test,y_pred)
print('The accuracy obtained by the Decision Tree Classifier is :')
print(acc)
report = classification_report(y_test,y_pred)
print('The classification report for Decision Tree Classifier is as follow:')
print(report)

The accuracy obtained by the Decision Tree Classifier is :
0.8947368421052632
The classification report for Decision Tree Classifier is as follow:
              precision    recall  f1-score   support

           0       0.86      0.94      0.90       105
           1       0.94      0.85      0.89       104

    accuracy                           0.89       209
   macro avg       0.90      0.89      0.89       209
weighted avg       0.90      0.89      0.89       209

In [43]:
abc = [[1,0.00,1,0.00,0,0,0,0,114,490,1093]]
result = dt.predict(abc)
print(result)
if result==[0]:
    print('The account is real')
else:
    print('The account is fake')

[0]
The account is real

In [44]:
abc = [[1,0.43,	1,	0.43,	0	,0,	0,	0	,0,	72,	434]]
result = dt.predict(abc)
print(result)
if result==[0]:
    print('The account is real')
else:
    print('The account is fake')

[1]
The account is fake

In [41]:
filename = 'Decision_tree.sav'
pickle.dump(dt, open(filename, 'wb'))

In [40]:
from sklearn.metrics import accuracy_score,classification_report
rf = RandomForestClassifier()
rf=rf.fit(x_train,y_train)
y_pred = rf.predict(x_test)
acc = accuracy_score(y_test,y_pred)
print('The accuracy obtained by the Random Forest Classifier is :')
print(acc)
report = classification_report(y_test,y_pred)
print('The classification report for Random Forest Classifier is as follow:')
print(report)

The accuracy obtained by the Random Forest Classifier is :
0.9186602870813397
The classification report for Random Forest Classifier is as follow:
              precision    recall  f1-score   support

           0       0.92      0.92      0.92       105
           1       0.92      0.91      0.92       104

    accuracy                           0.92       209
   macro avg       0.92      0.92      0.92       209
weighted avg       0.92      0.92      0.92       209

In [42]:
filename = 'Random_forest.sav'
pickle.dump(rf, open(filename, 'wb'))

In [45]:
abc = [[1,0.43,	1,	0.43,	0	,0,	0,	0	,0,	72,	434]]
result = rf.predict(abc)
print(result)
if result==[0]:
    print('The account is real')
else:
    print('The account is fake')

[1]
The account is fake

In [48]:
abc = [[1,0.00,1,0.00,0,0,0,0,114,490,1093]]
result = rf.predict(abc)
print(result)
if result==[0]:
    print('The account is real')
else:
    print('The account is fake')

[0]
The account is real